@import "tailwindcss";

@theme {
   /* Notre palette de couleurs Fintech / Cloud */
  --color-brand-dark: #0B0F19;     /* Fond sombre texturé ou texte ultra-sombre */
  --color-brand-primary: #2563EB;  /* Bleu Royal (Boutons principaux, actions) */
  --color-brand-accent: #10B981;   /* Vert émeraude (Succès, jetons valides) */
  --color-brand-muted: #64748B;    /* Gris pour légendes et textes secondaires */
  --color-brand-light-bg: #F8FAFC; /* Fond de page ultra-propre */

  /* Typographie et arrondis premium */
  --font-sans: "Inter", "sans-serif";
  --radius-premium: 12px;
}